@charset "UTF-8";

body{
    background-color: #20012098;
    color: white;
}

h1{
    color: rgb(0, 0, 0);
}

#titulo{
    text-align: center;
    color: rgb(0,1,0);
}

p{
    text-align:justify;
    color: white;
}